<header>
  <div class="navbar">
    <%= link_to 'Home', root_path %>
    <%= link_to 'About', about_path %>
</div>
<div id="titleSeq">
  <h1>Alpha - Blog</h1>
  <h2>By: Daniel Castronovo</h2>
</div>
</header
<main id="mainContent">
  <div id="mainDivContainer">
    <h2>Main Content:</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam elit metus,
      cursus sit amet ligula ac, commodo finibus ligula. Proin a vestibulum nunc.
      Nulla at semper lectus. Curabitur a finibus tortor. Praesent nec aliquam urna.
      Donec nec nibh erat. Donec gravida risus sed vestibulum malesuada.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam elit metus,
      cursus sit amet ligula ac, commodo finibus ligula. Proin a vestibulum nunc.
      Nulla at semper lectus. Curabitur a finibus tortor. Praesent nec aliquam urna.
      Donec nec nibh erat. Donec gravida risus sed vestibulum malesuada.</p>
    </div>
    <div id="mainImg">
      <%= image_tag 'mainImg.jpg' %>
    </div>
</main>
<footer><small>This is the footer</small></footer>
